* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

img#logo {
  max-width: 100%;
  cursor: pointer;
}

.d-in-bl {
  display: inline-block;
}

div.symbol {
  position: relative;
  max-width: 80px;
  max-height: 80px;
}

img.symbol {
  max-width: 100%;
  max-height: 100%;
}

button.symbol-delete {
  font-size: 8px;
  font-weight: bold;
  position: absolute;
  top: 5%;
  left: 75%;
  width: 16px;
  height: 16px;
  background-color: red;
  color: white;
}

button.active,
button.inactive {
  padding: 2px 10px;
  margin: 10px;
}

button.active {
  background-color: #90ee90;
}

button.inactive {
  background-color: #aaa;
}

div.card {
  position: relative;
  display: inline-block;
  border: 3px solid black;
  border-radius: 50%;
  margin: 20px;
  padding: 20px;
  width: 500px;
  height: 500px;
  overflow: hidden;
}

div.card img {
  position: absolute;
}

div.card.playable img {
  cursor: pointer;
}
